*{
  margin: 0;
  padding: 0;}

body{
  font-family: Helvetica, "Trebuchet MS", sans-serif, arial;
  background: #fff url(../imagens/bg.png);
  margin: 15px;
}

/******************************* CSS Site content ********************************/

#container {
  background: #ede9cc;


}

#top{
  position: relative;
  background: #dbcd87;
  height: 15.4em;
  min-height: 250px;
  top: 0;
  left: 0;
}
/****** Menu *******/
#logo-area{
  position: absolute;
  background: url(../imagens/topo-imagem-principal2.png) no-repeat;
  width: 100%;
  height: 250px;
  top: 0;
  left: 0;
  

}

#menu-area{
  position: absolute;
  top: 0;
  right: 0;
  background: url(../imagens/topo-imagem-lateral.png) no-repeat;
  width: 450px;
  height: 250px;
 
}


